footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    flex-direction: column;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding: 50px 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    gap: 20px;
}

.logo img {
    width: 80px;
    height: 60px;
}

.site-map,
.contact,
.social-media {
    margin: 0 20px;
}

.site-map h2,
.contact h2 {
    margin-bottom: 10px;
}

.site-map ul,
.contact ul {
    list-style: none;
    padding: 0;
}

.site-map ul li,
.contact ul li {
    margin-bottom: 5px;
}

.site-map ul li a,
.contact ul li a {
    color: #fff;
    text-decoration: none;
}

.social-media ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.social-media ul li {
    margin-right: 10px;
}

.social-media ul li a {
    color: #fff;
    text-decoration: none;
}

.copyright {
    max-width: 1400px;
    width: 100%;
    margin-top: 20px;
    padding: 0px 80px;
}