.header-left-part-main,
.header-right-part-main {
    align-items: end;
    flex-direction: column;
    gap: 20px;
    padding: 0px 100px;
    z-index: 1;
}

.header-right-part-main {
    align-items: start;
    width: 100%;
    color: var(--color-darck-blue-1);
}

.header-left-part-main-p,
.header-right-part-main-p {
    gap: 10px;
    font-weight: 200;
}