* {
    transition: 0.3s ease-in;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color-white-1: #F9F9F9;
    --color-white-2: #F3F5FA;
    --color-white-3: #C5D9F3;
    --color-red-1: #E95258;
    --color-lightr-blue: #49647D;
    --color-darck-blue-1: #32495E;
    --color-darck-blue-3: #176BD9;
    --color-liner-1: linear-gradient(0deg #222AE2, 100deg #00D1FF);
    --color-liner-2: linear-gradient(0deg #1D44A0, 100deg #99DBFF);
}

.placer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*   FATHER CLASS START */

.our-services {
    width: 100%;
    height: auto;
    padding: 50px 0px;
    justify-content: space-between;
    background-color: var(--color-darck-blue-1);
}

.about-all-doctors,
.map {
    width: 100%;
    background-color: var(--color-white-1);
    padding: 0px 0px 50px 0px;
}

.Price-list,
.news-section,
.We-are-recommended {
    margin-top: 50px;
    width: 100%;
    padding: 0px 0px 50px 0px;
}

.foto-and-video,
.question-and-ansvers {
    width: 100%;
    height: auto;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-darck-blue-1);
}

/*    FATHER CLASS END*/

/*     HEADER SECTION SATART    */

.our-services-header,
.foto-and-video-header,
.about-all-doctors-header,
.Price-list-header,
.news-section-header,
.We-are-recommended-header,
.map-header {
    max-width: 1400px;
    width: 90%;
    height: 200px;
    justify-content: start;
    color: var(--color-white-1);
}

.question-and-ansvers-header {
    max-width: 1400px;
    width: 100%;
    height: 100px;
    background-color: var(--color-lightr-blue);
    color: var(--color-white-1);
    justify-content: start;
    padding: 0px 20px;
}

.We-are-recommended-header {
    max-width: 1400px;
    height: 100px;
}

.our-services-header h1,
.about-all-doctors-header h1,
.Price-list-header h1,
.foto-and-video-header h1,
.news-section-header h1,
.question-and-ansvers-header h1,
.We-are-recommended-header h1,
.map-header h1 {
    font-size: 50px;
}

.about-all-doctors-header h1,
.Price-list-header h1,
.news-section-header h1,
.We-are-recommended-header h1,
.map-header h1 {
    color: var(--color-darck-blue-1);
}

/*     HEADER SECTION END       */

/*     MAIN SECTION START       */

main {
    flex-direction: column;
}

.our-services-main,
.Price-list-main,
.news-section-main,
.We-are-recommended-main,
.map-main {
    justify-content: space-between;
    max-width: 1400px;
    width: 90%;
    height: auto;
    padding: 10px 0px;
    gap: 25px;
}

.our-services-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    gap: 30px;
    width: 90%;
    max-width: 1400px;
}

.news-section-main {
    padding: 0px 0px 50px;
    max-width: 1400px;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 90%;
}

.our-services-main-cards,
.news-section-main-cards {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.news-section-main-cards {
    background-color: var(--color-red-1);
}

.our-services-main-cards img,
.news-section-main-in-cards-head img,
.map-main img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.map-main img {
    height: 360px;
}

.our-services-main-cards h1 {
    font-size: 18px;
    padding: 20px;
    color: var(--color-white-1);
}

.our-srvices-main-cards-zindex-2 h1 {
    width: 100%;
    height: 200px;
    background-color: red;
}

.question-and-ansvers-main {
    max-width: 1400px;
    padding: 0px 20px;
    color: var(--color-white-1);
}

.We-are-recommended-main {
    justify-content: space-between;
    height: auto;
    flex-wrap: wrap;
}

.We-are-recommended-main img{
    object-fit: cover;
    width: 150px;
    height: 150px;
    
}

.foto-and-video-main {
    width: 90%;
    max-width: 1400px;
}


/*     MAIN SECTION END         */

/*    FOOTER SECTION START      */

.our-services-footer,
.about-all-doctors-footer,
.about-all-doctors-footer,
.Price-list-footer,
.foto-and-video-footer,
.news-section-footer,
.map-footer {
    width: 100%;
    height: 100px;
    padding: 70px;
}

.header-left-part-footer-btn,
.header-right-part-footer-btn,
.our-services-footer-btn,
.about-all-doctors-footer-btn,
.foto-and-video-footer-btn,
.Price-list-footer-btn {
    width: 180px;
    height: 50px;
    border: none;
    border: 1px solid var(--color-white-1);
    color: var(--color-white-1);
    background: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s ease;
    cursor: pointer;
    z-index: 10;
}

.header-right-part-footer-btn,
.about-all-doctors-footer-btn {
    color: var(--color-darck-blue-1);
    border: 1px solid var(--color-darck-blue-1);
    z-index: 10;
}

.header-right-part-footer-btn:hover,
.about-all-doctors-footer-btn:hover,
.Price-list-footer-btn:hover {
    background-color: var(--color-darck-blue-1);
    color: var(--color-white-1);
}

.header-left-part-footer-btn:hover {
    background-color: var(--color-white-1);
    color: var(--color-red-1);
}

.our-services-footer-btn:hover,
.foto-and-video-footer-btn:hover {
    background-color: var(--color-white-1);
    color: var(--color-darck-blue-1);
}

.map-footer{
    height: auto;
    padding: 0;
}

/*    FOOTER SECTION END        */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

/*   price list main section start */

.team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 90%;
    max-width: 1400px;
}

.team-card {
    filter: brightness(95%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: 0.5s ease;
}

.team-card:hover {
    filter: brightness(100%);
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.team-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.team-card h3 {
    font-size: 18px;
    margin: 10px 0;
    color: var(--color-darck-blue-1);
}

.team-card p {
    font-size: 14px;
    color: var(--color-darck-blue-1);
    line-height: 1.5;
}

.about-all-doctors-footer-btn,
.Price-list-footer-btn {
    border: 1px solid var(--color-darck-blue-1);
    color: var(--color-darck-blue-1);
    cursor: pointer;
}

.table-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.service-table {
    width: 100%;
    max-width: 50%;
    border-collapse: collapse;
    color: var(--color-darck-blue-1);
}

.service-table th,
.service-table td {
    flex: 1;
    padding: 15px;
    text-align: left;
}

.service-table th {
    font-size: 22px;
    font-weight: bold;
}

.service-table td {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-darck-blue-3);
}

.service-table .price {
    font-weight: bold;
    color: var(--color-darck-blue-1);
}

/*   price list main section end */

/*   foto and video main section start*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}

.grid-item {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(50%);
    transition: 0.5s ease;
}

.grid-item img:hover {
    filter: brightness(100%);
    cursor: pointer;
}

.grid-item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    font-size: 14px;
    line-height: 1.4;
    color: var(--color-white-1);
}

.grid-item .play-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item .play-icon::before {
    content: '▶';
    color: #000;
    font-size: 14px;
}

.grid-item.enlarged {
    grid-column: span 2;
    grid-row: span 2;
}

.grid-item.enlarged .enlarge-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background: var(--color-darck-blue-1);
    border-radius: 20px;
    color: var(--color-white-1);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

/*   foto and video mina section end  */

.news-section-main-cards {
    border-radius: 20px;
    transition: 0.5s ease;
}

.news-section-main-cards:hover {
    border-radius: 0px;
    margin-top: -10px;
}

.news-section-main-cards:hover .news-section-main-in-cards-head img {
    border-radius: 0px;
    height: 170px;
    filter: brightness(100%);
}

.news-section-main-in-cards-head img {
    height: 150px;
    filter: brightness(50%);
    transition: 0.5s ease;
    border-radius: 20px 20px 0px 0px;
}

.news-section-main-in-cards-main {
    color: var(--color-white-1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.news-section-main-in-cards-main h1 {
    font-size: 18px;
}

.news-section-main-in-cards-main p {
    font-size: 16px;
}

.news-section-main-in-cards-main-btn {
    width: 150px;
    height: 40px;
    background: none;
    border: 1px solid var(--color-white-1);
    border-radius: 20px;
    color: var(--color-white-1);
    transition: 0.5s ease;
}

.news-section-main-in-cards-main-btn:hover {
    background-color: var(--color-white-1);
    color: var(--color-red-1);
    cursor: pointer;
}


.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #3D5B78;
    padding: 15px;
    border-radius: 5px;
}

.content {
    display: flex;
    margin-top: 20px;
}

.questions {
    flex: 1;
    margin-right: 20px;
}

.answers {
    flex: 2;
    padding: 0px 20px;
    gap: 50px;
    display: flex;
    flex-direction: column;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.question span {
    font-size: 20px;
    font-weight: 700;
}


.question .icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease;
}

.question .icon:hover {
    transform: scale(2);
    background: var(--color-darck-blue-1);
}

.question .icon.red {
    background-color: var(--color-red-1);
}

.question .icon.gray {
    background-color: var(--color-white-3);
}

.answers p {
    margin: 10px 0;
    line-height: 1.6;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 90%;
    height: 100%;
    margin: 50px auto;
    border-radius: 5px;
}

.contact-column {
    flex: 1;
    margin: 0 15px;
}

.contact-column h3 {
    font-size: 18px;
    color: #2D475F;
    margin-bottom: 10px;
}

.contact-column p {
    font-size: 16px;
    color: #4A4A4A;
    margin: 5px 0;
    line-height: 1.5;
}