@media(max-width: 1200px) {

    .header-left-part-main h1,
    .header-right-part-main h1 {
        font-size: 28px;
    }

    .header-left-part-main,
    .header-right-part-main {
        padding: 0px 70px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 10px;
    }
}

@media(max-width: 992px) {

    .header-left-part-head,
    .header-right-part-header {
        display: none;
    }

    .header-left-part,
    .header-right-part {
        margin-top: 200px;
        justify-content: space-evenly;
    }

    .respons-header {
        display: flex;
    }

    .header-left-part-main h1,
    .header-right-part-main h1 {
        font-size: 23px;
    }

    .header-left-part-main p,
    .header-right-part-main p {
        font-size: 15px;
    }

    .header-left-part-main,
    .header-right-part-main {
        padding: 0px 50px;
    }

    .answers {
        gap: 10px;
        font-size: 15px;
    }

    .respons-header-logo {
        flex: 0.5;
    }

    .response-header-elements {
        flex: 1.5;
    }

}

@media(max-width: 768px) {

    .header-left-part-main h1,
    .header-right-part-main h1 {
        font-size: 18px;
    }

    .answers p {
        margin: 10px 0;
        line-height: 1.4;
        font-size: 14px;
    }

    .question-and-ansvers-main {
        flex-direction: column;
    }

    .question {
        gap: 50px;
    }

    .headre-section {
        height: auto;
        flex-direction: column;
    }

    .header-left-part,
    .header-right-part {
        width: 100%;
        max-width: 1400px;
        padding: 50px 0;
    }

    .header-left-part {
        margin-top: 100px;
    }

    .header-left-part-footer,
    .header-right-part-footer {
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 0px 50px;
    }

    .header-right-part-footer {
        justify-content: start;
    }

    .header-left-part-main h1,
    .header-right-part-main h1 {
        font-size: 30px;
    }

    .response-header-elements {
        display: none;
    }

    .table-container {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    .service-table {
        max-width: 100%;
    }

    .contact-container {
        flex-direction: column;
        gap: 50px;
        align-items: start;
    }

    .container {
        flex-direction: column;
        gap: 50px;
    }

    .grid-item:nth-child(4) {
        display: none;
    }

    .grid-item:nth-child(5) {
        display: none;
    }

    .grid-item:nth-child(6) {
        display: none;
    }

    .grid-item:nth-child(7) {
        display: none;
    }

    .position-img {
        position: absolute;
        right: 0;
        top: 6.1% !important;
        z-index: 0;
    }

    .team-card:nth-child(5) {
        display: none;
    }

    .team-card:nth-child(6) {
        display: none;
    }

    .team-card:nth-child(7) {
        display: none;
    }

    .team-card:nth-child(8) {
        display: none;
    }

    .respons-menu-btn {
        display: flex !important;
    }

    .container-90 {
        padding: 0 0 0 20px;
    }

}

@media(max-width: 576px) {

    .our-services-header h1,
    .about-all-doctors-header h1,
    .Price-list-header h1,
    .foto-and-video-header h1,
    .news-section-header h1,
    .question-and-ansvers-header h1,
    .We-are-recommended-header h1,
    .map-header h1 {
        font-size: 35px;
    }

    .grid-item:nth-child(3) {
        display: none;
    }

    .grid-item:nth-child(8) {
        display: none;
    }

    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .position-img-1 {
        filter: brightness(60%);
    }

    .foto-and-video,
    .question-and-ansvers {
        padding: 50px 10px;
    }

}

@media(max-width: 494px) {
    .respons-header-logo {
        gap: 10px;
    }
}

.respons-header-logo h1 {
    font-size: 25px !important;
}


.header-left-part-main h1,
.header-right-part-main h1 {
    font-size: 25px;
}


@media(max-width: 350px) {

    .header-left-part-main p,
    .header-right-part-main p {
        font-size: 11px;
    }

    .header-left-part-main-p,
    .header-right-part-main-p {
        font-size: 13px;
    }

    .service-table td {
        font-size: 12px;
        font-weight: 600;
    }

    .service-table td:nth-child(2) {
        font-size: 15px;
        font-weight: 700;
    }

    .our-services-header h1,
    .about-all-doctors-header h1,
    .Price-list-header h1,
    .foto-and-video-header h1,
    .news-section-header h1,
    .question-and-ansvers-header h1,
    .We-are-recommended-header h1,
    .map-header h1,
    .whey-we-header h1 {
        font-size: 25px;
    }

    .We-are-recommended-main {
        justify-content: center;
    }
}